* {
    text-align: center;
    font-family: 'Montserrat', ' sans-serif';
}



.section {
    height: 2px;
}

.white-text {
    color: white;
}

.row {
    --bs-gutter-x: 0;
}


.fluid1 {
    background-color: #645CBB;
    padding-bottom: 4.5rem;

}

.navbar {
    margin-bottom: 4.2rem;
}

.navbar-brand {
    margin: 1rem 3.5rem;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;

}

.nav-link {
    margin: 0rem 3rem;
    font-size: 1.11rem;
}

.nav-color {
    color: white;
}

.nav-color:hover {
    color: #BFACE2;
}



.title-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
    color: white;
}


.download-button {
    margin: 5% 3% 5% 0;
}


.title-image {
    width: 45%;
    transform: rotate(25Deg);
    position: absolute;
    /* bottom: 80px; */
    z-index: 0;
    width: 15rem;
    /* border: 2px solid red; */
    right: 10rem;
    bottom: 1rem;
}


/* Features Section */

.features {
    padding: 10% 10%;
    position: relative;
    z-index: 2;
    background-color: white;
}

.feature-box>h3 {
    font-weight: bolder;
}

.feature-box>p {
    color: #8f8f8f;
}

.feature-box>i {
    color: #A084DC;
    margin-bottom: 1rem;
}

.feature-box>i:hover {
    color: #645CBB;
}



/* Testimonials */

#testimonials {
    background-color: #A084DC;

}

.testimonials-text {
    padding: 10% 10% 2.5% 10%;
}

.testimonials-text>h2 {
    color: white;
    font-family: 'MontserratBlack', sans-serif;
    font-weight: bold;
}

.testimonials-text>em {
    color: black;
    font-weight: bold;
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.logo-size {
    padding: 0% 2% 0% 2%;
}

/* Pricing Section */
#pricing>h2 {
    margin-top: 4.5rem;
    font-family: 'MontserratBlack', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
}

#pricing>p {
    color: #8f8f8f;
    font-weight: bold;
}

.btn-outline-secondary {
    width: 50%;
    align-self: center;
    margin-bottom: 0.5rem;
    font-family: 'Montserratblack', sans-serif;
    color: black;
}

.btn-outline-secondary:hover {
    background-color: black;
    border: 0px solid black;
}

.btn-outline-secondary:disabled {
    background: none;
    border: 1px solid black;
    color: black;
}


.price-title {
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.bold-kardo {
    font-weight: bolder;
}

.pricing-row {
    text-align: center;
    padding: 2rem 10rem 2rem 10rem;
}


/* Call to Action */
.text-big {
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;

}

.fluid2 {
    background-color: #BFACE2;

}

.fluid2>h1 {
    padding: 10rem 0 1rem 0;
}

/* Footer */
.social-logos>a {
    text-decoration: none;
}

.social-logos>a>i {
    margin: 2rem 0.5rem 1rem 0.5rem;
    color: black;
}







@media screen and (max-width: 1170px) and (min-width:993px) {
    body {
        /* background-color: lightgreen; */
    }

    .title-image {
        width: 10%;
        transform: rotate(25Deg);
        position: relative;
        z-index: 0;
        width: 15rem;
        right: 0rem;
        bottom: 5rem;
    }
    
    .fluid1 {
        background-color: #645CBB;
        /* height: 500px; */
        padding-bottom: 0rem;
        height: 500px;
    }

    .pricing-row {
        padding: 2rem 5rem 2rem 5rem;
    }
}


@media screen and (max-width:993px) {
    body {
        /* background-color: red; */
    }

    .title-image {
        width: 10%;
        transform: rotate(0Deg);
        position: relative;
        z-index: 0;
        width: 15rem;
        right: 0rem;
        bottom: 0rem;
    }

    .pricing-row {
        padding: 2rem 2.5rem 2rem 2.5rem;
    }
}